h1 { 
    display: inline-block;
    font-family: "Neucha", cursive;
    border: solid rgb(12, 111, 124) 5px;
    border-radius: 8px;
    padding: 3px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(31, 133, 123, 0.407);
    color: rgb(113, 109, 172);
}

#output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#output2 {
    font-size: 20px;
    color: rgb(70, 14, 224);
    margin-top: 20px;
    font-family: "Neucha", cursive;
    opacity: 0;
    transition: opacity 1s ease;
}

.letter-box {
    display: inline-block;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    animation: rollIn 0.5s ease;
}

.letter {
    font-weight: bold;
    font-size: 28px;
}

.value {
    font-size: 24px;
    color: rgb(50, 89, 17);
}

@keyframes rollIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input {
    color: rgb(9, 74, 98);
    background-color: rgb(90, 156, 156);
}

button {
    color: rgb(9, 74, 98);
    background-color: rgb(90, 156, 156);
}